/* prettier-ignore */
:root {
  --c-primary:#1F0732;
  --c-black:  #2d2d2d;
  --c-white:  #fff8ff;
  --c-title:  #923671;
  --c-title-2:  #c4426e;

  --c-grad: #f1eaf7;

  --container-padding: 2rem
}
