{
  "printWidth": 120,
  "singleQuote": true,
  "endOfLine": "crlf",
  "semi": false,
  "overrides": [
    {
      "files": ["*.scss"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
