@import "helpers/variables";
@import "helpers/root";
@import "helpers/optimize";
@import "helpers/plugin";
@import "helpers/media-classes";

body,
html {
  &.noskroll {
    overflow: hidden;
  }
}

html {
  width: 100%;
  font-size: 62.5%;
}

body {
  position: relative;
  min-height: stretch;
  min-width: 320px;
  background: var(--c-primary);
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
svg {
  max-width: 100%;
  max-height: 100%;
}

strong {
  font-weight: 600;
}

canvas {
  display: block;
}

img {
  max-width: 100%;
  max-height: 100%;

  &.is-initial {
    max-width: initial;
    max-height: initial;
  }

  &.fit-cover {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

video {
  max-width: 100%;
  max-height: 100%;

  &.is-initial {
    max-width: initial;
    max-height: initial;
  }

  &.fit-cover {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

.page {
  min-height: 100svh;
}

.container {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  position: relative;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--c-light-gray) var(--c-primary);
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar {
    width: 8px;
    height: 6px;
    background: var(--c-light-gray);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: var(--c-primary);
  }
}

.hidden-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

.page-inner {
  min-height: 100svh;
  position: relative;

  &.white-page {
    background: var(--c-white);
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.6rem;
  padding-top: 1rem;
  position: relative;
}

.footer {
  color: #2d2d2d;
  line-height: 160%;
  font-size: 1.1rem;
  text-align: center;
  opacity: 0.7;
  padding-top: 3.5rem;

  a {
    font-weight: 600;
    text-decoration: underline;
  }
}

h1 {
  font-size: 2.4rem;
  color: var(--c-black);
  font-weight: 700;
  line-height: 130%;
  text-align: center;
  margin-bottom: 2rem;
}

.step-start-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 4rem;
}

.step-title {
  font-size: 2rem;
  color: var(--c-black);
  font-weight: 700;
  text-align: center;

  &.is-title {
    color: var(--c-title);
  }
}

.purple-text {
  color: var(--c-title-2);
}

.step-subtext {
  font-size: 1.5rem;
  text-align: center;
  line-height: 140%;
  color: #2d2d2d;
}

.page-back {
  cursor: pointer;
  position: absolute;
  left: 0;
}
.quiz-page {
  padding-bottom: 12rem;
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 3rem;
}

.footer-box {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 3rem;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.variants-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.variant-item {
  width: 100%;
  height: 5.2rem;
  box-shadow: 0 4px 7px 0 #e3dfee;
  background: #f5eaf7;
  border-radius: 1rem;
  border: 1px solid rgba(119, 51, 149, 0.2);
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding: 0 1.7rem;
  cursor: pointer;

  &.is-active,
  &:hover {
    background: linear-gradient(90deg, #642b72 0%, #c5426e 100%);

    .variant-item__text {
      color: #fff;
    }
  }

  &__icon {
    font-size: 3rem;
    width: 4rem;
  }

  &__text {
    color: var(--c-black);
    font-size: 1.5rem;
    font-weight: 600;
  }

  input {
    display: none;
  }
}

.result-page {
  padding-bottom: 12rem;
  &__image {
    position: relative;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: center;

    &::before {
      content: "";
      display: block;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 85%, #1f0732 100%);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
    }
  }

  &__content {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }

  &__title {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 1.4rem;
  }

  &__text {
    font-size: 1.4rem;
  }
}

.input-field {
  width: 100%;
  box-shadow: 0 4px 7px 0 #e3dfee;
  background: #f5eaf7;
  height: 5.2rem;
  border-radius: 1rem;
  border: 1px solid rgba(119, 51, 149, 0.2);
}

.select-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.time-select-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.loading {
  display: flex;
  gap: 1rem;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);

  @for $i from 1 through 3 {
    .loading__point:nth-child(#{$i}) {
      animation: flash 1s #{0.5 * $i}s linear infinite;
    }
  }
}

@keyframes flash {
  0% {
    color: rgba(255, 255, 255, 0.5);
  }
  50% {
    color: rgba(255, 255, 255, 1);
  }
  100% {
    color: rgba(255, 255, 255, 0.5);
  }
}
